# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/RadarPrice-frontend/dist
/RadarPrice-frontend/tmp
/RadarPrice-frontend/out-tsc
/RadarPrice-frontend/bazel-out

# Node
/RadarPrice-frontend/node_modules
/RadarPrice-frontend/npm-debug.log
/RadarPrice-frontend/yarn-error.log

# IDEs and editors
/RadarPrice-frontend/.idea/
/RadarPrice-frontend/.project
/RadarPrice-frontend/.classpath
/RadarPrice-frontend/.c9/
/RadarPrice-frontend/*.launch
/RadarPrice-frontend/.settings/
/RadarPrice-frontend/*.sublime-workspace

# Visual Studio Code
/RadarPrice-frontend/.vscode/*
/RadarPrice-frontend/!.vscode/settings.json
/RadarPrice-frontend/!.vscode/tasks.json
/RadarPrice-frontend/!.vscode/launch.json
/RadarPrice-frontend/!.vscode/extensions.json
/RadarPrice-frontend/.history/*

# Miscellaneous
/RadarPrice-frontend/.angular/cache
/RadarPrice-frontend/.sass-cache/
/RadarPrice-frontend/connect.lock
/RadarPrice-frontend/coverage
/RadarPrice-frontend/libpeerconnection.log
/RadarPrice-frontend/testem.log
/RadarPrice-frontend/typings

# System files
/RadarPrice-frontend/.DS_Store
/RadarPrice-frontend/Thumbs.db

##############################
## Java
##############################
/RadarPrice-Backend/.mtj.tmp/
/RadarPrice-Backend/*.class
/RadarPrice-Backend/*.jar
/RadarPrice-Backend/*.war
/RadarPrice-Backend/*.ear
/RadarPrice-Backend/*.nar
/RadarPrice-Backend/hs_err_pid*
/RadarPrice-Backend/replay_pid*

##############################
## Gradle
##############################
/RadarPrice-Backend/bin/
/RadarPrice-Backend/build/
/RadarPrice-Backend/.gradle
/RadarPrice-Backend/.gradletasknamecache
/RadarPrice-Backend/gradle-app.setting
/RadarPrice-Backend/!gradle-wrapper.jar

##############################
## IntelliJ
##############################
/RadarPrice-Backend/out/
/RadarPrice-Backend/.idea/
/RadarPrice-Backend/.idea_modules/
/RadarPrice-Backend/*.iml
/RadarPrice-Backend/*.ipr
/RadarPrice-Backend/*.iws


/RadarPrice-Backend/HELP.md
/RadarPrice-Backend/.gradle
/RadarPrice-Backend/build/
/RadarPrice-Backend/!gradle/wrapper/gradle-wrapper.jar
/RadarPrice-Backend/!**/src/main/**/build/
/RadarPrice-Backend/!**/src/test/**/build/

### STS ###
/RadarPrice-Backend/.apt_generated
/RadarPrice-Backend/.classpath
/RadarPrice-Backend/.factorypath
/RadarPrice-Backend/.project
/RadarPrice-Backend/.settings
/RadarPrice-Backend/.springBeans
/RadarPrice-Backend/.sts4-cache
/RadarPrice-Backend/bin/
/RadarPrice-Backend/!**/src/main/**/bin/
/RadarPrice-Backend/!**/src/test/**/bin/

### IntelliJ IDEA ###
/RadarPrice-Backend/.idea
/RadarPrice-Backend/*.iws
/RadarPrice-Backend/*.iml
/RadarPrice-Backend/*.ipr
/RadarPrice-Backend/out/
/RadarPrice-Backend/!**/src/main/**/out/
/RadarPrice-Backend/!**/src/test/**/out/