<div class="section">
    <div class="navigator">
        <div class="block-1">
            <div class="pos-f-t">
                <div class="collapse" id="navbarToggleExternalContent">
                    <div data-target="#navbarToggleExternalContent" data-toggle="collapse"
                        *ngIf="!userLoginOn; else userLogout" class="pt-1 pl-3 pb-1">
                        <a routerLink="/login" class="text-white h5">Login</a>
                    </div>
                    <ng-template #userLogout class="pt-3 pl-3 pb-1">
                        <div>
                            <a href="#" class="text-white h5">User</a>
                        </div>
                        <div>
                            <a href="#" class="text-white h5">Favorite</a>
                        </div>
                        <div>
                            <a href="#" class="text-white h5">Log out</a>
                        </div>
                    </ng-template>
                </div>
                <nav class="navbar navbar-dark">
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </nav>
            </div>
        </div>
        <div class="block-2">
            <input class="checkbox-all" type="radio" id="color" name="color" checked />
            <label routerLink="/home" for="color">Home</label>
            <input class="checkbox-alizarin" type="radio" name="color" id="color-1" />
            <label routerLink="/products" for="color-1">Products</label>
            <input class="checkbox-wisteria" type="radio" name="color" id="color-2" />
        </div>
    </div>
</div>