<div class="section">
    <div class="container">
        <div class="box">
            <button type="button" class="btn btn-primary">Primary</button>
            <input class="checkbox-all" type="radio" id="color" name="color" checked />
            <label for="color">Home</label>
            <input class="checkbox-alizarin" type="radio" name="color" id="color-1" />
            <label for="color-1">Products</label>
            <input class="checkbox-wisteria" type="radio" name="color" id="color-2" />
        </div>
    </div>
</div>