html,
body {
    height: 100%;
    width: 100%;
}

body {
    background-color: #222831;
    margin: 0;
}

.ng-valid:not(form).ng-touched {
    border-right: 5px solid #A6FF96;
}

.ng-invalid:not(form).ng-touched {
    border-left: 5px solid #C63D2F;
}